{% extends 'layout.html' %}

{% block title %}E-Care | Login{% endblock %}

{% block body %}
	{% include 'includes/_navbar.html' %}
	<header><h1>Access our website</h1></header>
	{% if error %}
		<div class="alert alert-danger" id="alert">{{ error }}</div>
	{% endif %}
	<div class="register-page">
		<div class="form">
			<form class="register-form" action="{% url 'login' %}" method="POST">
				{% csrf_token %}
				<input type="text" name="username" placeholder="Username" required><br>
				<input type="password" name="password" placeholder="Password" required><br>
				<button>Submit</button>
			</form>
		</div>
	</div>
{% endblock %}