{% extends 'layout.html' %}

{% block title %}E-Care | Appointment{% endblock %}
{% block body %}
	<!-- Load the navbar -->
  {% if request.session.account_type == 'Patient' %}
  {% include 'includes/_navdashp.html' %}
  {% else %}
  {% include 'includes/_navdashd.html' %}
  {% endif %}

  <!-- Main content of body -->
	{% if request.session.logged_in %}
  <header>
    <h1>Set an appointment today</h1>
    <p>To request for appointment, click on the name of your preferred doctor.</p>
  </header>
	
	<!-- Bootstrap datepicker -->
	<div class="search_doctor_container">
		<form method="POST" action="/make-appointment/">
			{% csrf_token %}
			<input type="text" name="search" placeholder="Search doctor">
			<button class="btn btn-secondary">Search</button>
		</form>
	</div>
	<div class="test">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Doctor</th>
						<th>Contact</th>
					</tr>
				</thead>
				<!-- <tbody class="clickable-row"> -->
				<tbody>
					{% for d in doctors %}
						<tr>
							<td><a href={{d.id}}>{{d.first_name}} {{d.last_name}}</a></td>
							<td>{{d.email}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		{% for s in doc_spec %}
			<p>{{s.specialization}}</p>
		{% endfor %}
	</div>
	
	{% else %}
	{% endif %}
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script type="text/javascript">jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});</script>
{% endblock %}