{% extends 'layout.html' %}

{% block title %}Modify Request{% endblock %}

{% block body %}
	<!-- Load the navbar -->
	{% if request.session.account_type == 'Patient' %}
	{% include 'includes/_navdashp.html' %}
	{% else %}
	{% include 'includes/_navdashd.html' %}
	{% endif %}

	<!-- Main content of body -->
	{% if request.session.logged_in %}
	<header>
		<h1>Modify Request</h1>
		<p>You can only modify the date and time of the request.</p>
		{% for ea in existingAppointments %}
			<p>{{ea.starttime}} {{ea.endtime}}</p>
		{% endfor %}
	</header>
	<div class="container">
		<table class="table table-striped" id="table">
			<tr>
				<th>Purpose</th>
				<th>Patient</th>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
			</tr>
			<tr>
				<td>{{modify.purpose}}</td>
				<td>{{modify.patient}}</td>
				<td>{{modify.date}}</td>
				<td>{{modify.starttime|time:"h:i A"}}</td>
				<td>{{modify.endtime|time:"h:i A"}}</td>
			</tr>
		</table>
	</div>
	<form action="#" method="POST" class="modify_container">
			{% csrf_token %}
			<div class="modify_request_container">
				<p id="eventsExample">New time range<br>
				Time: <input type="text" class="time start" name="timeStart" />
			    to <input type="text" class="time end" name="timeEnd" />
			    <button class="btn btn-primary">Confirm Appointment</button>
			</div>
			<script type="text/javascript">
				$('#eventsExample .time').timepicker({
			        'showDuration': false,
			        'timeFormat': 'g:ia',
			        'scrollDefault': 'now',
			        'minTime': '9:00am',
	  				'maxTime': '6:00pm',
			        'disableTimeRanges': [
			        	{% for ea in existingAppointments %}
			        		['{{ea.starttime}}, {{ea.endtime}}'],
						{% endfor %}
			        ]

			    });
			    var basicExampleEl = document.getElementById('eventsExample');
			    var datepair = new Datepair(basicExampleEl);
			    // var pair = [];
			    // {% for ea in existingAppointments %}
			    // 	pair.push([{{ea.starttime}}, {{ea.endtime}}]);
			    // {% endfor %}
	    		// for (var i=0; i<data.length; i++){
	    		// 	pair.push([data[i]['starttime'], data[i]['endtime']])
	    		// };
	    		// $('#eventsExample .time').timepicker('option', {'disableTimeRanges': pair, 'minTime': '9:00am', 'maxTime': '6:00pm'});
				function myFunction(r){
					alert('Modify successful');
				}
			</script>
		</form>

	
	{% else %}
	<h1>There is no logged in account!<h1>
	{% endif %}
{% endblock %}