{% extends 'layout.html' %}

{% block title %}Modify Appointment{% endblock %}

{% block body %}
	<!-- Load the navbar -->
	{% if request.session.account_type == 'Patient' %}
	{% include 'includes/_navdashp.html' %}
	{% else %}
	{% include 'includes/_navdashd.html' %}
	{% endif %}
	
	{% if request.session.logged_in %}
	<header>
		<h1>Modify Appointment</h1>
		<p>You can modify the time of the appointment here.</p>
	</header>
	<div class="container">
		<table class="table table-striped" id="table">
			<tr>
				<th>Purpose</th>
				{% if request.session.account_type == 'Patient' %}
					<th>Doctor</th>
				{% else %}
					<th>Patient</th>
				{% endif %}
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
			</tr>
			<tr>
				<td>{{modify_appointment.purpose}}</td>
				{% if request.session.account_type == 'Patient' %}
					<td>{{modify_appointment.doctor}}</td>
				{% else %}
					<td>{{modify_appointment.patient}}</td>
				{% endif %}
				<td>{{modify_appointment.date}}</td>
				<td>{{modify_appointment.starttime|time:"h:i A"}}</td>
				<td>{{modify_appointment.endtime|time:"h:i A"}}</td>
			</tr>
		</table>
	</div>
	<form action="#" method="POST" class="modify_container">
			{% csrf_token %}
			<div class="modify_request_container">
				<p id="eventsExample">New time range<br>
				Time: <input type="text" class="time start" name="timeStart" required />
			    to <input type="text" class="time end" name="timeEnd" required/>
			    <button class="btn btn-primary" onclick="myFunction(this)">Confirm Appointment</button>
			</div>
			<script type="text/javascript">
				$('#eventsExample .time').timepicker({
			        'showDuration': false,
			        'timeFormat': 'g:ia',
			        'scrollDefault': 'now',
			        'minTime': '9:00am',
	  				'maxTime': '6:00pm',
			        'disableTimeRanges': [
			        	{% for ea in existing_appointments %}
			        		['{{ea.starttime}}', '{{ea.endtime}}'],
						{% endfor %}
			        ]

			    });
			    var basicExampleEl = document.getElementById('eventsExample');
			    var datepair = new Datepair(basicExampleEl);
				function myFunction(r){
					alert('Modify successful');
				}
			</script>
		</form>
	
	{% else %}
	<h1>There is no logged in account!<h1>
	{% endif %}
{% endblock %}