{% extends 'layout.html' %}

{% block title %}E-Care | News{% endblock %}

{% block body %}
	{% include 'includes/_navbar.html' %}
	<header><h1>Latest News</h1></header>
	<div class="news_container">
		<h2>News content <small>Sept. 6, 2017 2:00PM</small></h2>
		<hr>
		<p>Added contents of news section.</p>
	</div>
	<div class="news_container">
		<h2>Search function <small>Sept. 5, 2017 10:45PM</small></h2>
		<hr>
		<p>Seaching for doctors are now added in the system.</p>
	</div>
	<div class="news_container">
		<h2>Specialization for each doctor <small>Sept. 5, 2017 6:00PM</small></h2>
		<hr>
		<p>The specialization of each doctor is displayed.</p>
	</div>
	<div class="news_container">
		<h2>Notifications for patient <small>Sept. 4, 2017 7:45PM</small></h2>
		<hr>
		<p>Patients are notified for the activies in their profile.</p>
	</div>
	<div class="news_container">
		<h2>Doctors accepts appointment requests and confirms finished appointments <small>Sept. 1, 2017 11:30PM</small></h2>
		<hr>
		<p>Doctors are notified by requests and appointments.</p>
	</div>
	<div class="news_container">
		<h2>Patients can request for appointment <small>Aug. 25, 2017 9:00PM</small></h2>
		<hr>
		<p>Patients can now request for schedule with their preferred doctor.</p>
	</div>
	<div class="news_container">
		<h2>Doctors are now part of the system <small>Aug. 16, 2017 6:45PM</small></h2>
		<hr>
		<p>Doctors can also access the system through their personal accounts.</p>
	</div>
	<div class="news_container">
		<h2>Login and Registration system <small>July. 28, 2017 3:30PM</small></h2>
		<hr>
		<p>Patients can now register and login to the system.</p>
	</div>
{% endblock %}